sounddevice
google-genai
pillow
requests
beautifulsoup4
duckduckgo-search
pyautogui
pyperclip
pygetwindow
opencv-python
numpy
mss
psutil
comtypes
pycaw
send2trash
youtube-transcript-api
python-pptx
pyqt6
pyqt6-webengine
google-auth-oauthlib
google-api-python-client
spotipy
openrgb-python
flask
flask-socketio
cryptography
vosk
qtawesome
mediapipe
fastembed
onnxruntime
piper-tts